@model ShareForceOne.Models.TripModel

@{
    ViewData["Title"] = "TripCreate";
}
<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  text-align: center;
}

    
    </style>
    </head>
    <body>
        <div class="textbg">
<h1>Trip created!</h1>

            
            
            
        </div> 
    </body>
</html>