@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <Script>window.location.href = "@Url.Action("Index","User")";</Script>
}

    <div class="center">
        <h1>Welcome to Share force one!</h1>
    </div>
    <br />
<img src="~/img/gris.jpg" class="img" alt="Gris" width="955" height="603">



