@using ShareForceOne;

@{
    ViewData["Title"] = "Index";
}
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center" style="padding: 8px;"><a class="btn btn-primary btn-block border rounded" role="button" asp-area="" asp-controller="Trip" asp-action="TripCreate">Create</a></div>
            <div class="col-md-6 align-self-center" style="padding: 8px;"><a class="btn btn-primary btn-block border rounded" role="button" asp-area="" asp-controller="Trip" asp-action="ListTrips">Join</a></div>

        </div>
    </div>
</div>






